<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dayln Portfolio - Home</title>

  <link rel="stylesheet" href="/styles/404.css">
</head>
<body>
    <div title="404">404</div>
</body>
</html>
