<!-- views/album.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Portfolio - Album</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/album.css">
  <script>
    // Disable right-click
    document.addEventListener('contextmenu', function (e) {
      e.preventDefault();
    });

    // Disable access to developer tools
    document.addEventListener('keydown', function (e) {
      if (e.key === 'F12' || (e.ctrlKey && e.shiftKey && e.key === 'I') || (e.ctrlKey && e.shiftKey && e.key === 'C')) {
        e.preventDefault();
      }
    });
  </script>
</head>
<body>
  <header>
    <h1>Dayln Photo Portfolio - Album</h1>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="mailto:contact@photo.daydev.lol">Contact</a></li>
        
      </ul>
    </nav>
  </header>


  <main id="album">
    <h2>Photo Album</h2>
    <div class="slideshow-container">
      <% for (let i = 0; i < images.length; i++) { %>
        <div class="mySlides">
          <img src="/albums/<%= images[i].filename %>" alt="<%= images[i].name %>" style="width:100%;">
          <div class="image-description">
            <h3><%= images[i].name %></h3>
            <p><%= images[i].description %></p>
          </div>
        </div>
      <% } %>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
  
    </div>
    <script>
      let slideIndex = 1;

      function showSlides(n) {
        let i;
        const slides = document.getElementsByClassName("mySlides");

        if (n > slides.length) {
          slideIndex = 1;
        }

        if (n < 1) {
          slideIndex = slides.length;
        }

        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }

        slides[slideIndex - 1].style.display = "block";
      }

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      showSlides(slideIndex);
    </script>
      <footer>
        <p>&copy; 2024 Dayln Photos</p>
      </footer>
  </main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Show the popup when the page loads
    setTimeout(function() {
        document.getElementById("popup-container").style.display = "block";
    }, 3000); // Show after 3 seconds (adjust as needed)
});

function closePopup() {
    // Close the popup when the close button is clicked
    document.getElementById("popup-container").style.display = "none";
}

</script>
</body>
</html>
