<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dayln Photo Portfolio - Loading</title>
  
  <link rel="stylesheet" href="/styles/loading.css">
</head>
<body>
    <div class="arc">
    </div>
    <h1><span>LOADING</span></h1>
    <script type="text/javascript">   
        function Redirect() 
        {  
            window.location="/home"; 
        } 
    
        setTimeout('Redirect()', 5000);   
    </script>
</body>
</html>
