/* styles/index.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Background color for the entire page */
    color: #fff; /* Text color */
  
  }
  
  .auto-type-container {
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #fff; /* Adjust the border color and width */
    animation: typing 3s steps(20) infinite;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  