/* public/styles/main.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  nav {
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #33333300;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  body {
    /* Add your website styles here */
}

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

#popup-content {
    text-align: center;
}

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#popup-content a {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#popup-content a:hover {
    background-color: #2980b9;
}
